<!-- footer strat  -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 colLeft wow fadeInLeft" data-wow-duration="2s">
                <div class="col-12">
                    <div class="footerLoog">
                        <div class="hdr_logo">
                            <a href="index.html">
                                Marriage <br>
                                Growth <span class="light-blue"> Summit </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="contact">
                            <h5>contact info</h5>
                            <ul>
                                <li>
                                    <img src="images/footer_map.png" alt="Map" />
                                    <a href="#">Lorem ipsum dolor sit ame ipsum</a>
                                </li>
                                <li>
                                    <img src="images/footer-mail.png" alt="Mail" />
                                    <a href="mailto:Lorum@ipsum.com">
                                        Lorum@ipsum.com</a>
                                </li>
                                <li>
                                    <img src="images/footer-phone.png" alt="Phone" />
                                    <a href="tel:+1 123 456 789">+1 123 456 789</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="links">
                            <h5>user links</h5>
                            <div class="Links_footer">
                                <ul>
                                    <li><a href="index.html">Home </a></li>
                                    <li><a href="aboutus.html">About </a></li>
                                    <li><a href="classes.html">Classes </a></li>
                                    <li><a href="reviews.html">Reviews</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 footerRight wow fadeInRight" data-wow-duration="2s">
                <div class="newsLater">
                    <h3>Newsletter</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br />
                        Lorem ipsum dolor sit ame
                    </p>
                    <form>
                        <input type="email" placeholder="Enter Your Email Here ..." />
                        <button type="submit">Subscribe</button>
                    </form>
                    <div class="copyright_text">
                        <p>
                            © 2025 Marriage Growth Summit, All Rights
                            Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer strat  -->