<!-- footer strat  -->
<div class="footerSec">
    <section class="newsletter_sec sec">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="news_update wow bounceInLeft">
                        <img src="images/subcribe.png" alt>
                        <div class="update_text">
                            <h4>Subscribe Our Newsletter</h4>
                            <p>Sed ut perspiciatis unde omniserror sit accusantium ipsa quae ab illo inventore veritatis
                                et quasi architecto </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="news_input wow bounceInRight">
                        <form>
                            <input type="email" name=" email" placeholder="Enter Your Email Address" id>
                            <button type="submit" class="theme-btn-text">Subscribe Now
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="ftr_links wow fadeInUp" data-wow-delay="0.2s">
                    <div class="ftr_logo">
                        <a href="index.html">
                            <img src="images/logo.png" alt="">
                        </a>
                    </div>
                    <p class="white">
                        Sed ut perspiciatis unde omniserror sit accusantium ipsa quae ab
                    </p>
                    <div class="social_links">
                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="twitter"><i class="fab fa-x-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="quick_links wow fadeInUp" data-wow-delay="0.3s">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="paint-parties.html">Paint Parties</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contactus.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="cont_links wow fadeInUp" data-wow-delay="0.4s">
                    <h4>Contact info</h4>
                    <ul>
                        <li>
                            <a href="mailto:">
                                <i class="fa-solid fa-envelope"></i>
                                contact@signature-accents.com
                            </a>

                        </li>
                        <li>
                            <a href="tel:+15551234567">
                                <i class="fa-solid fa-phone"></i>
                                +1 (555) 123-4567
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="service_links wow fadeInUp" data-wow-delay="0.5s">
                    <h4>Products</h4>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum</a>
                        </li>
                        <li>
                            <a href="#">Dolor Sit</a>
                        </li>
                        <li>
                            <a href="#">Adipcing Elit</a>
                        </li>
                        <li>
                            <a href="#">Tempor Incidunt</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-btm">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="copy-txt wow fadeInUp" data-wow-delay="0.2s">
                        <p>CopyRights © 2025 Signature-Accents All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="copy-img">
                        <img src="images/payment.png" alt="payment" class="payment">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer strat  -->