<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="ftr-logo wow fadeInLeft">
          <a href="index.html">
            <img src="images/logo.png" alt="logo" class="ftr-logo" />
          </a>
          <ul class="follow_social">
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="quick-links links wow fadeInUp">
          <h4 class="white">Quick Links</h4>
          <ul class="quick-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="conditions-we-treat.html">Conditions We Treat</a></li>
            <li><a href="insurance-labs.html">Insurance & Labs</a></li>
            <li><a href="blogs.html">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box wow fadeInRight">
          <div class="contact-links links">
            <h4 class="white">Contact Info</h4>
            <ul class="quick-links">
              <li>
                <h6>
                  Phone
                </h6>
                <a href="tel:8002810433">8002810433</a>
              </li>
              <li>
                <h6>
                  Fax
                </h6>
                <a href="tel:8334854283">8334854283</a>
              </li>
              <li>
                <h6>
                  Email
                </h6>
                <a href="mailto:info@integratedmindrx.org">info@integratedmindrx.org</a>
              </li>
              <li>
                <h6>
                  Location
                </h6>
                <a href="#"> 311 E Pleasant Valley BLVD
                  Suite 119, 2nd Floor
                  Altoona PA 16602
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="btm-para wow fadeInUp">
          <p class="m-0">
            © 2025 Integrated Mind & MedRx Management LLC. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>