<!-- header start -->
<section class="header ">
    <div class="top-bar wow fadeInDown">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="hdr_logo">
                        <a href="index.html">
                            <img src="images/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="search-box">
                        <form action="" class="search-form">
                            <select name="" id="" class="search-select">
                                <option value="">All</option>
                                <option value="">All</option>
                                <option value="">All</option>
                            </select>
                            <input type="text" class="form-control search-input" placeholder="Search For Anything">
                            <button type="submit" class="search-button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="hdr-top-right">
                        <!-- region-box -->
                        <div class="region-box">
                            <div class="region-selector" id="regionSelector">
                                <img src="https://flagcdn.com/us.svg" alt="US Flag" id="selectedFlag">
                                <div class="region-text">
                                    <span class="region-label">Region</span>
                                    <span class="region-value" id="selectedRegion">EN/USD</span>
                                </div>

                                <div class="dropdown" id="dropdownMenu">
                                    <div class="dropdown-item" data-region="EN/USD" data-flag="us.svg"><img
                                            src="https://flagcdn.com/us.svg">
                                        EN/USD</div>
                                    <div class="dropdown-item" data-region="FR/EUR" data-flag="fr.svg"><img
                                            src="https://flagcdn.com/fr.svg">
                                        FR/EUR</div>
                                    <div class="dropdown-item" data-region="DE/EUR" data-flag="de.svg"><img
                                            src="https://flagcdn.com/de.svg">
                                        DE/EUR</div>
                                    <div class="dropdown-item" data-region="JP/JPY" data-flag="jp.svg"><img
                                            src="https://flagcdn.com/jp.svg">
                                        JP/JPY</div>
                                    <div class="dropdown-item" data-region="IN/INR" data-flag="in.svg"><img
                                            src="https://flagcdn.com/in.svg">
                                        IN/INR</div>
                                    <div class="dropdown-item" data-region="CN/CNY" data-flag="cn.svg"><img
                                            src="https://flagcdn.com/cn.svg">
                                        CN/CNY</div>
                                    <div class="dropdown-item" data-region="GB/GBP" data-flag="gb.svg"><img
                                            src="https://flagcdn.com/gb.svg">
                                        GB/GBP</div>
                                    <div class="dropdown-item" data-region="CA/CAD" data-flag="ca.svg"><img
                                            src="https://flagcdn.com/ca.svg">
                                        CA/CAD</div>
                                    <div class="dropdown-item" data-region="AU/AUD" data-flag="au.svg"><img
                                            src="https://flagcdn.com/au.svg">
                                        AU/AUD</div>
                                    <div class="dropdown-item" data-region="BR/BRL" data-flag="br.svg"><img
                                            src="https://flagcdn.com/br.svg">
                                        BR/BRL</div>
                                </div>
                            </div>
                        </div>
                        <!-- signup-box -->
                        <div class="signup-box">
                            <div class="signup-box-trigger" id="openPanel">
                                <i class="fa-regular fa-user"></i>
                                <div class="signup-box-text">
                                    <div class="signup-box-label">Welcome</div>
                                    <div class="signup-box-action">Sign / Register</div>
                                </div>
                            </div>

                            <div class="signup-box-panel" id="signupPanel">
                                <div class="signup-box-close" onclick="signupPanel.classList.remove('active')">
                                    &times;</div>
                                <div class="signup-box-header">
                                    <h2>Welcome</h2>
                                    <div class="signup-box-tabs">
                                        <button onclick="showTab('login')" class="signup-box-tab active">Login</button>
                                        <button onclick="showTab('register')" class="signup-box-tab">Register</button>
                                    </div>
                                </div>

                                <div class="signup-box-body">

                                    <form id="loginForm" class="signup-box-form" onsubmit="return false;">
                                        <input type="text" placeholder="Username" class="form-control" required />
                                        <input type="password" placeholder="Password" class="form-control" required />
                                        <button type="submit" class="theme-btn">Login</button>
                                    </form>

                                    <form id="registerForm" class="signup-box-form" style="display:none;"
                                        onsubmit="return false;">
                                        <input type="text" placeholder="Full Name" class="form-control" required />
                                        <input type="text" placeholder="Username" class="form-control" required />
                                        <input type="email" placeholder="Email" class="form-control" required />
                                        <input type="number" placeholder="Phone Number" class="form-control" required />
                                        <input type="password" placeholder="Password" class="form-control" required />
                                        <input type="password" placeholder="Confirm Password" class="form-control"
                                            required />
                                        <button type="submit" class="theme-btn">Register</button>
                                    </form>
                                    <a href="account.html" class="underline-btn">View Page</a>
                                </div>

                            </div>
                        </div>
                        <!-- cart-box -->
                        <div class="cart-box-trigger">
                            <a href="cart.html">
                                <i class="fa-regular fa-bag-shopping"></i>

                                <div class="cart-box-text">
                                    <div class="cart-box-label">Cart</div>
                                    <div class="cart-box-action">$0.00</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-bar wow fadeInDown" dats">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="categ-box">
                        <img src="images/category.png" alt="category" class="category">
                        <select name="" id="" class="categ-select">
                            <option value="Categories">Categories</option>
                            <option value="All">All</option>
                            <option value="All">All</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="nav stroke">
                        <ul id="menu">
                            <li><a href="#">Hot Deals </a></li>
                            <li><a href="#">What's New</a></li>
                            <li><a href="#">Daily Deals</a></li>
                            <li><a href="#">Best Sellers</a></li>
                            <li><a href="#">Clearance</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="middle-right-box nav stroke">
                        <ul>
                            <li class="middle-right-box-dropdown">
                                <a href="#">Browsing History</a><i class="fa-solid fa-chevron-down"></i>
                                <div class="middle-right-box-dropdown-menu">
                                    <a href="#">Today</a>
                                    <a href="#">Last 7 Days</a>
                                    <a href="#">This Month</a>
                                </div>
                            </li>
                            <li><a href="track-order.html">Track Order</a></li>
                            <li><a href="help-center.html">Help Center</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bottom-bar-para">
                        <p>Biggest Sale of the Year </p>
                        <a href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end -->

<script>
    const selector = document.getElementById("regionSelector");
    const dropdown = document.getElementById("dropdownMenu");
    const selectedRegion = document.getElementById("selectedRegion");
    const selectedFlag = document.getElementById("selectedFlag");

    selector.addEventListener("click", () => {
        dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
    });

    document.querySelectorAll(".dropdown-item").forEach(item => {
        item.addEventListener("click", () => {
            selectedRegion.textContent = item.getAttribute("data-region");
            selectedFlag.src = `https://flagcdn.com/${item.getAttribute("data-flag")}`;
            dropdown.style.display = "none";
        });
    });

    document.addEventListener("click", function (event) {
        if (!selector.contains(event.target)) {
            dropdown.style.display = "none";
        }
    });
</script>


<script>
    // JS
    const openPanel = document.getElementById('openPanel');
    const signupPanel = document.getElementById('signupPanel');

    openPanel.addEventListener('click', () => {
        signupPanel.classList.toggle('active');
    });

    function showTab(tab) {
        const login = document.getElementById('loginForm');
        const register = document.getElementById('registerForm');
        const tabs = document.querySelectorAll('.signup-box-tab');

        if (tab === 'login') {
            login.style.display = 'flex';
            register.style.display = 'none';
        } else {
            login.style.display = 'none';
            register.style.display = 'flex';
        }

        tabs.forEach(t => t.classList.remove('active'));
        document.querySelector(`.signup-box-tab[onclick="showTab('${tab}')"]`).classList.add('active');
    }

</script>