<section class="side_bar">
    <div class="side-bar-logo">
        <a href="index.html">
            <img src="images/logo.png" class="home-logo" alt="">
        </a>
    </div>
    <div class="side-bar-list">
        <ul class="slidebar_menu" id="menu">
            <li><a href="index.html" class="active"><img src="images/sd-1.png" class="sd-1" alt="img">Dashboard</a></li>
            <li><a href="services.html">My Services</a></li>
            <li><a href="affiliate-marketing.html">Affiliate Marketing</a></li>
            <li><a href="affiliate-products.html">Affiliate Products</a></li>
            <li><a href="profile.html">Profile</a></li>
        </ul>
        <div class="premium-box">
            <div class="premium-box-img">
                <img src="images/premium.png" alt="">
            </div>
            <div class="premium-box-text">
                <p>Upgrade to Premium <br> for Unlimited Styling Sessions</p>
                <a href="#">UPGRADE NOW</a>
            </div>
        </div>
        <div class="logout-button">
            <a href="#" class="link">Support</a>
            <a href="#" class="theme-btn">
                <img src="images/logout.png" alt="img" class="logout-img" />
                Logout
            </a>
        </div>
    </div>
</section>