<div class="search-nav">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-6">
            <div class="header-search">
                <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="search" placeholder="Search..." name="search" id="">
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="header-profile-box">
                <ul class="header-profile-list">
                    <li>
                        <div class="bookmark-notification-main">
                            <a href="#" class=" bookmark-icon">
                                <i class="fas fa-bookmark"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="notification-box">
                            <a href="#" class="notift-icon"><i class="fa-regular fa-bell"></i>
                                <span></span></a>
                            <ul class="notification-messages-list d-none">
                                <li>
                                    <a href="#">
                                        <div class="notification-img">
                                            <img src="images/user-1.jpg" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h6>New Order Received</h6>
                                            <span>9:30 AM</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="notification-img">
                                            <img src="images/user-1.jpg" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h6>New Task Added</h6>
                                            <span>8:45 AM</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="notification-img">
                                            <img src="images/user-1.jpg" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h6>New Message Received</h6>
                                            <span>7:00 AM</span>
                                        </div>
                                    </a>
                                    <div class="notification-dropdown-btns">
                                        <a href="notification.html">View All</a>
                                        <a href="#">Mark As Read</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="mail-box">
                            <a href="#" class="mailbox"><i class="fa-regular fa-envelope"></i>
                                <span></span></a>
                            <ul class="mail-messages d-none">
                                <li>
                                    <a href="javascript:void(0)">
                                        <div class="mail-img">
                                            <img src="images/user-1.jpg" alt="">
                                        </div>
                                        <div class="mail-info">
                                            <h6>New User Registration</h6>
                                            <span>12:00 AM</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="mail-img">
                                            <img src="images/user-1.jpg" alt="">
                                        </div>
                                        <div class="mail-info">
                                            <h6>Meeting Reminder</h6>
                                            <span>11:30 AM</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="mail-img">
                                            <img src="images/user-1.jpg" alt="">
                                        </div>
                                        <div class="mail-info">
                                            <h6>New File Uploaded</h6>
                                            <span>10:00 AM</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="user-profile-box">
                            <div class="user-profile-img">
                                <img src="images/user-1.jpg" alt="">
                            </div>
                            <div class="user-profile-info">
                                <h6>Ellie Clark
                                    <span class="d-block"> Lorem ipsum</span>
                                </h6>
                            </div>
                        </div>
                        <div class="user-profile-dropdown  d-none">
                            <a href="profile.html">Profile</a>
                            <a href="#">Logout</a>
                            <a href="#">setting</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>