<!-- header start -->
<section class="header long-sec">
    <div class="container">
        <div class="header-box">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="hdr_logo">
                        <a href="index.html">
                            <img src="images/logo.png" alt="logo" class="logo">
                        </a>
                    </div>
                </div>                               
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="nav stroke">
                        <ul id="menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li><a href="career.html">Careers</a></li>
                            <li><a href="scholarship.html">Scholarships</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="hdr_btn">
                        <a href="contact-us.html" class="button">
                            Contact Us
                            <span class="button__icon-wrapper">
                              <i class="fa-solid fa-phone"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end -->