<!-- header start -->
<section class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                <div class="hdr_logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="logo" class="logo" />
                    </a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="nav stroke">
                    <ul id="menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="our-labradors.html">Our Labradors</a></li>
                        <li><a href="available-puppies.html">Available Puppies</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="hdr_btn">
                    <a href="request-availability.html" class="theme-btn">
                        <span>Request Availability</span>
                        <img src="images/arrow.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end -->