<!-- header start -->
<section class="header-new">
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="top-nav">
                        <div class="nav stroke wow fadeIn">
                            <ul id="menu">
                                <li><a href="index.html">HOME</a></li>
                                <li><a href="aboutus.html">ABOUT US</a></li>
                                <li><a href="category.html">CATEGORY</a></li>
                                <li><a href="products.html">SHOP</a></li>
                                <li><a href="contact.html">CONTACT US</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="top-right-info wow fadeIn">
                        <ul>
                            <li>
                                <div class="custom-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        SELECT A LOCATION <i class="fa-solid fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Location 1</a></li>
                                        <li><a href="#">Location 2</a></li>
                                        <li><a href="#">Location 3</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="custom-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <img src="images/super-discount.png" alt="super-discount"
                                            class="super-discount" />
                                        SUPER DISCOUNT <i class="fa-solid fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Discount 1</a></li>
                                        <li><a href="#">Discount 2</a></li>
                                        <li><a href="#">Discount 3</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="tel:1234567890">123 456 7890</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3">
                    <div class="logo wow fadeIn">
                        <a href="index.html">
                            <img src="images/logo.png" alt="logo" class="logo" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="search-bar wow fadeIn">
                        <form action="#">
                            <div class="input-group">
                                <div class="input-group-prepend custom-dropdown">
                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <img src="images/search.png" alt="search" class="search-icon" />
                                    </button>
                                    <div class="dropdown-menu">
                                        <div class="form-check dropdown-item">
                                            <input class="form-check-input" type="radio" name="filterOptions"
                                                id="filterOption1" value="option1">
                                            <label class="form-check-label" for="filterOption1">
                                                Option 1
                                            </label>
                                        </div>
                                        <div class="form-check dropdown-item">
                                            <input class="form-check-input" type="radio" name="filterOptions"
                                                id="filterOption2" value="option2">
                                            <label class="form-check-label" for="filterOption2">
                                                Option 2
                                            </label>
                                        </div>
                                        <div class="form-check dropdown-item">
                                            <input class="form-check-input" type="radio" name="filterOptions"
                                                id="filterOption3" value="option3">
                                            <label class="form-check-label" for="filterOption3">
                                                Option 3
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="SEARCH FOR PRODUCT...">
                                <button class="btn btn-search" type="submit"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="user-actions wow fadeIn">
                        <ul>
                            <li>
                                <a href="account.html">
                                    <i class="fa-regular fa-user"></i>
                                    <span>ACCOUNTS</span>
                                </a>
                            </li>
                            <li>
                                <a href="wishlist.html">
                                    <i class="fa-regular fa-heart"></i>
                                    <span class="badge">1</span>
                                    <span>WISHLIST</span>
                                </a>
                            </li>
                            <li>
                                <a href="cart.html">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span class="badge">0</span>
                                    <span>CART</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end -->