<footer class="wow fadeIn" data-wow-delay=".60s"
    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
    <div class="container">
        <div class="row align-items-center">


            <div class="col-xl-4 col-md-6 footer-width ">
                <div class="footer-txt ftr_logo wow slideInLeft"
                    style="visibility: visible; animation-name: slideInLeft;">
                    <a href="index.html" class="ftr_logo">
                        <!-- ABOUT US -->
                        <img src="./images/logo-main.png" alt="">
                    </a>
                    <!-- <h5>Standing Seam <span>Roofing</span></h5> -->
                    <P>Silent Hands Collective offers custom-designed apparel, where you choose the design,
                        colors, and styles. We
                        provide unique, high-quality shirts, hoodies, and graphics that let you express your personal
                        style.</P>

                </div>
            </div>

            <div class="col-xl-4 col-md-6 footer-width wow slideInDown"
                style="visibility: visible; animation-name: slideInDown;">
                <div class="footer-txt footer-quick">
                    <div class="footer-txt-heading">
                        <h5>Quick Links</h5>
                    </div>

                    <div class="footer-links quick_links under stroke">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About Us </a></li>
                            <li><a href="product_shop.html">Category</a></li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="shop.html">Sale </a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="col-xl-4 col-md-6 footer-width">
                <div class="footer-txt wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
                    <div class="footer-txt-heading">
                        <h5>contact us</h5>
                    </div>

                    <div class="footer-links footer-links-contact">
                        <ul>
                            <li>
                                <img src="images/location.png" alt="">
                                <a href="#">123 Main Street, City Name, Country </a>
                            </li>
                            <li> <img src="images/ftr_mail.png" alt="">
                                <a href="mailto:info@silenthandscollective.com"> info@silenthandscollective.com</a>
                            </li>

                            <li>
                                <img src="images/phone.png" alt="">

                                <a href="tel:0000000000">(000) 000-0000</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-rights">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="header-socials header-socials-line">
                            <div class="header-socials-links">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>

                                    <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>

                                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>

                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-rights1 wow slideInLeft"
                            style="visibility: visible; animation-name: slideInLeft;">
                            <p>© 2024 Silent Hands
                                Apparel & Graphics, All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="">
                            <div class="payement_image">
                                <img src="images/payment.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>