<!-- header start -->
<section class="header">
    <div class="container-fluid pe-0">
        <div class="row">
            <div class="col-lg-4">
                <div class="hdr_logo">
                    <a href="index.html">
                        <!-- Silent Hands <br>
                      Apparel & Graphics -->
                        <img src="images/logo-main.png" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="hdr_menu">
                    <div class="wrapper">
                        <nav>
                            <input type="checkbox" id="show-search">
                            <input type="checkbox" id="show-menu">
                            <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
                            <div class="content under stroke">

                                <ul class="links ">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="aboutus.html">About Us</a></li>
                                    <li>
                                        <a href="shop.html">Shop</a>
                                        <!-- <input type="checkbox" id="show-features">
                                        <label for="show-features">Features</label>
                                        <ul>
                                            <li><a href="#">Drop Menu 1</a></li>
                                            <li><a href="#">Drop Menu 2</a></li>
                                            <li><a href="#">Drop Menu 3</a></li>
                                            <li><a href="#">Drop Menu 4</a></li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="custom-apparel.html" class="desktop-link">Custom Appparel</a>
                                        <!-- <input type="checkbox" id="show-services">
                                        <label for="show-services">Services</label>
                                        <ul>
                                            <li><a href="#">Drop Menu 1</a></li>
                                            <li><a href="#">Drop Menu 2</a></li>
                                            <li><a href="#">Drop Menu 3</a></li>
                                            <li>
                                                <a href="#" class="desktop-link">More Items</a>
                                                <input type="checkbox" id="show-items">
                                                <label for="show-items">More Items</label>
                                                <ul>
                                                    <li><a href="#">Sub Menu 1</a></li>
                                                    <li><a href="#">Sub Menu 2</a></li>
                                                    <li><a href="#">Sub Menu 3</a></li>
                                                </ul> 
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li>
                                        <div class="banner_left_bar_bag">
                                            <a href=" shop.html">
                                                <img src="images/bag.png" alt="">
                                            </a>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
                            <form action="#" class="search-box">
                                <input type="text" placeholder="Type Something to Search..." required>
                                <button type="submit" class="go-icon"><i
                                        class="fas fa-long-arrow-alt-right"></i></button>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- header end -->