<!-- Testimonial Section Start -->
  <section class="testimonial-sec sec">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 centerCol">
          <div class="sec-hea text_center topbar">
            <h2>testimonial</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p> -->
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-10 centerCol">
          <div class="testi-slider">
            <div class="testi-box">
              <div class="row align-items-center">
                <div class="testi-slider-box">
                  <div class="col-lg-4">
                    <div class="testi-img">
                      <img src="images/testi1.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="test-box-text">
                      <ul class="tidti-list">
                        <li>
                          <div>
                            <h4>Smantha grey</h4>
                            <span>CEO Of Lorum</span>
                          </div>
                        </li>
                        <li>
                          <ul class="star">
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="testi-box">
              <div class="row align-items-center">
                <div class="testi-slider-box">
                  <div class="col-lg-4">
                    <div class="testi-img">
                      <img src="images/testi2.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="test-box-text">
                      <ul class="tidti-list">
                        <li>
                          <div>
                            <h4>Smantha grey</h4>
                            <span>CEO Of Lorum</span>
                          </div>
                        </li>
                        <li>
                          <ul class="star">
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi-box">
              <div class="row align-items-center">
                <div class="testi-slider-box">
                  <div class="col-lg-4">
                    <div class="testi-img">
                      <img src="images/testi3.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="test-box-text">
                      <ul class="tidti-list">
                        <li>
                          <div>
                            <h4>Smantha grey</h4>
                            <span>CEO Of Lorum</span>
                          </div>
                        </li>
                        <li>
                          <ul class="star">
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi-box">
              <div class="row align-items-center">
                <div class="testi-slider-box">
                  <div class="col-lg-4">
                    <div class="testi-img">
                      <img src="images/testi3.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="test-box-text">
                      <ul class="tidti-list">
                        <li>
                          <div>
                            <h4>Smantha grey</h4>
                            <span>CEO Of Lorum</span>
                          </div>
                        </li>
                        <li>
                          <ul class="star">
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                            <li>
                              <a href="javascript:;"><i class="fa-solid fa-star"></i></a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="testi-couner">
          <div class="sld-counts">
            <span>01</span>
            <h6>/</h6>
            <span class="small">04</span>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- Testimonial Section End -->