<!-- Footer Start -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-12">
                <div class="footer-head-txt">
                    <!--<h3>legends live on</h3>-->
                    <a href="index.html">
                        <!--Legends Live On-->
                        <img src="images/logo.png" alt="logo">
                    </a>
                    <p>We are a gathering of souls each created uniquely in the image of God coming together from many
                        nations, backgrounds, and ethnicities.</p>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-12">
                <div class="footer-newsletter">
                    <h3>Get Weekly Newsletter
                        From us</h3>
                    <p>Stay in the loop with new episodes, merch drops, and exclusive content. Subscribe now and never
                        miss a mystery!</p>
                    <form action="">
                        <input type="email" name="email" placeholder="Enter your Email">
                        <button><i class="fas fa-long-arrow-right"></i></button>
                    </form>

                    <h5>Follow Us On Social Media</h5>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-middle-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <div class="footer-link">
                        <h5>Quick Links</h5>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="episodes.html">Episodes</a></li>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="account.html">Login / Sign up</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-12">
                    <div class="footer-link footer-product">
                        <h5>Episodes</h5>
                        <ul>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12">
                    <div class="footer-touch">
                        <h5>Get In Touch</h5>
                        <ul>
                            <li><i class="fas fa-phone-alt"></i> <a href="tel:2565132367">(256) 513-2367</a></li>
                            <li><i class="fas fa-envelope"></i> <a
                                    href="mailto:andrewm1941@gmail.com">andrewm1941@gmail.com</a></li>
                            <li><i class="fas fa-map-marker-alt"></i> <a href="javascript:void(0)">14001 Salisbury
                                    Circle
                                    Southeast
                                    Huntsville AL 35803</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="copy-right-txt">
                        <p>Copyright © 2025. All Right Reserved</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="copy-right-img">
                        <img src="images/paypal-footer.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- Footer End -->