<!-- footer strat  -->
<footer class="footer-main">
    <div class="footer-main">
        <div class="container">
            <div class="newlatter-form">
                <h2>Subscribe to our newsletter</h2>
                <form>
                    <div class="newsform">
                        <input type="email" placeholder="Email Address...." />
                        <div class="bt">
                            <button class="pbtn" type="submit">
                                <i class="fa-solid fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ftr-bottom">
                <div class="row">
                    <div class="col-md-4">
                        <div class="right-text">
                            <h5 class="wow fadeInLeft" data-wow-duration="2s">
                                Quick Links
                            </h5>
                            <div class="double-links flx align-items-start">
                                <ul class="m-0">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Reviews</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="middle-text">
                            <div class="footer-logo wow fadeInDown" data-wow-duration="2s">
                                <a href="index.html">
                                    <img src="images/logo.png" aria-label="img" />
                                </a>
                            </div>

                            <p class="wow bounceIn" data-wow-duration="2s">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry
                            </p>

                            <div class="footer-socials">
                                <ul>
                                    <li class="wow bounceIn" data-wow-duration="2s">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>

                                    <li class="wow bounceIn" data-wow-duration="2s">
                                        <a href="#">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    </li>

                                    <li class="wow bounceIn" data-wow-duration="2s">
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>

                                    <li class="wow bounceIn" data-wow-duration="2s">
                                        <a href="#">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="left-text">
                            <h5 class="wow fadeInLeft" data-wow-duration="2s">
                                Contact Info
                            </h5>
                            <ul>
                                <li class="wow fadeInLeft" data-wow-duration="2s">
                                    <a href="#"><i class="fas fa-map-marker-alt"></i>123 lorem street dummy here ipsum.
                                    </a>
                                </li>

                                <li class="wow fadeInLeft" data-wow-duration="2.5s">
                                    <a href="mailto:info@dummy.com"><i class="far fa-envelope"></i>
                                        <p>info@dummy.com</p>
                                    </a>
                                </li>

                                <li class="wow fadeInLeft" data-wow-duration="3s">
                                    <a href="tel:1234567890"><i class="fas fa-phone-alt"></i>
                                        <p>123 456 7890</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-12 col-md-12 text-center">
                    <p class="wow bounceIn text-center data-wow-duration=" 2s">
                        Copyright &copy;2025 Mourning Light Photo. 2025 All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer strat  -->