<footer>
    <div class="container">
        <div class="footer-box">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ftr_logo">
                        <a href="index.html">
                            <img src="images/logo.png" alt="">
                        </a>
                        <p>Lorem Ipsum is simply dummy
                            text of the printing and typesetting industry. Lorem Ipsum has been</p>
                        <ul class="footer_social">
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="ftr-right-bar">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="ftr_box">
                                    <h5 class="bar">Quick Links</h5>
                                    <ul class="services">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="aboutus.html">About Us</a></li>
                                        <li><a href="products.html">Shop</a></li>
                                        <li><a href="contactus.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ftr_box">
                                    <h5 class="bar">Services</h5>
                                    <ul class="quick">
                                        <li><a href="#">Lorem Ipsum</a></li>
                                        <li><a href="#">Dolor sit amet </a></li>
                                        <li><a href="#">Consectetur</a></li>
                                        <li><a href="#">Adipisicing elit</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ftr_box ftr_box1">
                                    <h5 class="bar">Contact Info</h5>
                                    <div class="footer-links footer-links-contact">
                                        <ul>
                                            <li>
                                                <img src="images/location.png" alt="">
                                                <a href="#">Lorem ipsum dummy here 1234 Street here 234 Lorem </a>
                                            </li>
                                            <li> <img src="images/ftr_mail.png" alt="">
                                                <a href="mailto:Info@domain.com">Info@domain.com</a>
                                            </li>
                                            <li>
                                                <img src="images/phone.png" alt="">
                                                <a href="tel:123 456 7890">123 456 7890</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copy_right">
                    <img src="images/payment.png" alt="" class="payment">
                    <p>
                        © 2025 ITG Store. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>