<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="links-box">
                    <h6>Quick Links</h6>
                    <ul class="links-list">
                        <li><a href="terms.html">Terms of Use</a></li>
                        <li><a href="accept-policy.html">Acceptable Use Policy</a></li>
                        <li><a href="faqs.html">FAQ</a></li>
                        <li><a href="free-entry.html">Free entry</a></li>
                    </ul>
                    <a href="#" class="powered">
                        Powered by <span>RaffleX</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="links-box">
                    <h6>Support</h6>
                    <ul class="links-list">
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="policy.html">Privacy Policy</a></li>
                        <li><a href="terms-and-condition.html">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="join-box">
                    <h6>
                        Join the list
                    </h6>
                    <p>
                        The latest discounts, sales, and new releases, sent to your inbox!
                    </p>
                    <form action="" class="join-form">
                        <input type="email" placeholder="Enter your email">
                        <button type="submit" class="theme-btn"> <i class="fa-solid fa-plus"></i> Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ftr-btm">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="copyright-text">
                                <p>
                                    © 2026 WinVerse. WinVerse Ltd - Company Number 12345678
                                    -
                                    All Rights Reserved
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="social-links">
                                <ul class="social-links-list">
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>