<!-- header start -->
<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="nav stroke">
                    <ul id="menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="aboutus.html">About</a></li>
                        <li><a href="product.html">Shop</a></li>
                        <li><a href="contactus.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hdr_logo">
                    <a href="index.html">
                        Luxeora
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hdr_right_box">
                    <a href="login.html">Sign In</a>
                    <div class="flag">
                        <img src="images/america.jpg" alt="">
                        <select name="" id="">
                            <option value="">USD</option>
                            <option value="">USD</option>
                            <option value="">USD</option>
                            <option value="">USD</option>
                        </select>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <div class="hdr_menu">
                        <div class="wrapper">
                            <nav>
                                <input type="checkbox" id="show-search">
                                <input type="checkbox" id="show-menu">
                                <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>

                                <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
                                <form action="#" class="search-box">
                                    <input type="text" placeholder="Type Something to Search..." required>
                                    <button type="submit" class="go-icon"><i
                                            class="fas fa-long-arrow-alt-right"></i></button>
                                </form>
                            </nav>
                        </div>
                    </div>
                    <a href="cart.html" class="bag">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>0</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end -->