<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="hdr_logo ftr_logo">
                    <a href="#">
                        <!-- <img src="images/logo.png" alt=""> -->
                        <span class="bold">Dev </span> nest
                    </a>
                    <p>It is a long established fact that from will be distracted by the readable from when looking.</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ftr_heading">
                    <h3>
                        Pages
                    </h3>
                </div>
                <ul class="pages_list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Integrations</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="ftr_heading">
                    <h3>
                    Utility Pages 
                    </h3>
                </div>
                <ul class="pages_list">
                    <li><a href="#">Integrations</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Project details</a></li>
                    <li><a href="#">Our Team</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="contact_box">
                    <span>Address</span>
                    <h6>Ready to get started?</h6>
                    <p>It is a long established fact that a reader will be distracted layout.</p>
            <ul class="ftr-list">
            
                <li>
            
                    <a href="javascript:void(0)">
            
                        <img src="images/footer-icon1.png" alt="img">
            
                        <p> Lorem ipsum dolor sit ame ipsum</p>
            
                    </a>
            
                </li>
            
                <li>
            
                    <a href="mailto: Lorum@ipsum.com">
                        <img src="images/footer-icon2.png" alt="img">
                        <p> Lorum@ipsum.com</p>
            
                    </a>
            
                </li>
            
                <li>
            
                    <a href="tel:+(123)123-456-7890">
                        <img src="images/footer-icon3.png" alt="img">
                        <p> +(123)123-456-7890</p>
            
                    </a>
            
                </li>
            
            </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="ftr-btm">
        
                    <ul>
        
                        <li>
        
                            <div class="social-icons">
        
        
        
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
        
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
        
        
        
        
        
                            </div>
        
                        </li>
        
                        <li>
        
                            Copyright © 2025 SWAYGK - All Rights Reserved.
        
                        </li>
        
                        <li>
        
                            <a href=""><img src="images/payment.png"></a>
        
                        </li>
        
                    </ul>
        
                </div>
            </div>
        </div>
    </div>
</footer>