<!-- footer start -->
<footer class="wow fadeIn" data-wow-delay=".60s">
    <div class="container">
        <div class="row">


            <div class="col-xl-3 col-md-6 footer-width ">
                <div class="footer-txt ftr_logo wow slideInLeft">
                    <a href="index.html" class="ftr_logo"><img src="images/logo.png" alt=""></a>


                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud</p>
                    <div class="header-socials header-socials-line">
                        <div class="header-socials-links">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>

                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>

                                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 footer-width wow slideInDown">
                <div class="footer-txt footer-quick">
                    <div class="footer-txt-heading">
                        <h5>Useful Links</h5>
                    </div>

                    <div class="footer-links quick_links">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About Us </a></li>
                            <li><a href="How-it-works.html">How It Works</a></li>
                            <li><a href="blog.html">Blogs</a></li>

                            <li><a href="contactus.html">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 footer-width wow slideInDown">
                <div class="footer-txt footer-quick">
                    <div class="footer-txt-heading">
                        <h5>Quick Links</h5>
                    </div>

                    <div class="footer-links ">
                        <ul>

                            <li><a href="#">Faqs </a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="study.html">Study In Uk</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 footer-width">
                <div class="footer-txt wow slideInRight">
                    <div class="footer-txt-heading">
                        <h5>contact Info </h5>
                    </div>

                    <div class="footer-links footer-links-contact">
                        <ul>
                            <li>
                                <img src="images/location.png" alt="">
                                <a href="#">lorem ispum dummy <br>
                                    street 123 456</a>
                            </li>


                            <li>
                                <img src="images/phone.png" alt="">

                                <a href="tell:0123 456 7890">0123 456 7890</a>
                            </li>
                            <li> <img src="images/ftr_mail.png" alt="">
                                <a href="mailto:info@domain.com">info@domain.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-12">
                <div class="terms">
                    <a href="#">Privcy Policy</a>

                    <div class="footer-rights wow slideInLeft">
                        <p>© 2024 Nnerrg global academy. All Rights Reserved.</p>
                    </div>

                    <a href="terms.html">Terms And Conditions</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->