/*Media Query Start*/

@media only screen and (min-width: 1366px) and (max-width: 1500px) {}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    section.header .col-lg-8.col-md-12.col-sm-12 {
        width: 100%;
        order: 3;
    }

    section.header .col-lg-2.col-md-6.col-sm-6 {
        order: 2;
        width: 50%;
    }

    .hdr_btn {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    html {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    html {
        overflow-x: hidden;
    }

    .banner-main-box {
        padding-top: 20%;
    }

    .banner-center-mic {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }

    .banner-top-text {
        text-align: center;
        width: 100%;
        display: flex;
        justify-self: center;
    }

    .banner-center-mic img {
        object-position: center bottom;
        height: 480px;
        object-fit: contain;
    }

    h1 {
        font-size: 40px;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;
    }

    h2 {
        font-size: 35px;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;
    }

    h3 {
        font-size: 30px;
        line-height: 1.2;
        color: #fff;
        font-weight: 600;
    }

    h4 {
        font-size: 25px;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;
    }

    h5 {
        font-size: 20px;
        line-height: 1.2;
        color: #000;
        font-weight: 500;
    }

    h6 {
        font-size: 17px;
        color: #fff;
        font-weight: 500;
    }

    p {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        color: #ffff;
        font-family: "Montserrat", serif;
    }

    section.header .col-lg-3.col-md-6.col-sm-6 {
        order: 2;
    }

    section.header .col-lg-6.col-md-12.col-sm-12 {
        order: 3;
    }

    .hdr_btn {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

@media only screen and (min-width: 520px) and (max-width: 767px) {
    h1 {
        font-size: 40px;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;
    }

    h2 {
        font-size: 35px;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;
    }

    h3 {
        font-size: 30px;
        line-height: 1.2;
        color: #fff;
        font-weight: 600;
    }

    h4 {
        font-size: 25px;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;
    }

    h5 {
        font-size: 20px;
        line-height: 1.2;
        color: #000;
        font-weight: 500;
    }

    h6 {
        font-size: 17px;
        color: #fff;
        font-weight: 500;
    }

    p {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        color: #ffff;
        font-family: "Montserrat", serif;
    }

    section.header .nav.stroke {
        display: none;
    }

    .hdr_logo a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hdr_btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slicknav_nav a:hover {
        background: #851112;
        color: #fff;
    }

    section.header {
        position: unset;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        padding: 10px 0 20px 0;
        background: #212121;
    }

    .banner-top-text {
        text-align: center;
        width: 100%;
        display: flex;
        justify-self: center;
    }

    section.header .col-lg-6.col-md-12.col-sm-12 {
        display: none;
    }

    html {
        overflow-x: hidden;
    }
}


@media only screen and (min-width: 300px) and (max-width: 519px) {
    html {
        overflow-x: hidden;
    }

    h1 {
        font-size: 37px;
        line-height: 1;
        color: #fff;
        font-weight: 500;
    }

    h2 {
        font-size: 35px;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;
    }

    h3 {
        font-size: 30px;
        line-height: 1.2;
        color: #fff;
        font-weight: 600;
    }

    h4 {
        font-size: 25px;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;
    }

    h5 {
        font-size: 20px;
        line-height: 1.2;
        color: #000;
        font-weight: 500;
    }

    h6 {
        font-size: 17px;
        color: #fff;
        font-weight: 500;
    }

    p {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        color: #ffff;
        font-family: "Montserrat", serif;
    }

    section.header .nav.stroke {
        display: none;
    }

    .hdr_logo a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .hdr_btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slicknav_nav a:hover {
        background: #851112;
        color: #fff;
    }

    section.header {
        position: unset;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        padding: 10px 0 20px 0;
        background: #212121;
    }

    .banner-top-text {
        text-align: center;
        width: 100%;
        display: flex;
        justify-self: center;
        margin: 60px 0;
    }

    .banner-nav-bar .flex-center {
        gap: 20px;
        flex-direction: column;
    }

    .banner-nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0;
        flex-direction: column;
        gap: 20px;
    }

    .banner-right-bottom-box::before {
        position: absolute;
        top: 0;
        left: -1vw;
        width: 100vw;
        height: 100%;
        /* border: 1px solid #fff; */
        content: '';
        border-radius: 50px;
        box-shadow: -1px -1px 1px 0 #ffffff75;
        z-index: -1;
    }

    .banner-right-bottom-box {
        padding: 10px 0 70px 0;
        position: relative;
        z-index: 1;
    }

    .f-s30 {
        font-size: 21px;
        display: block;
        margin: 0 0 10px 0;
        color: #fff;
        font-weight: 700;
        font-family: "StingerFitTrial-Bold";
        line-height: 1.2;
        text-transform: uppercase;
    }

    .banner-center-mic {
        position: absolute;
        top: 19%;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .banner-center-mic img {
        height: 180px;
        object-fit: contain;
    }

    img.banner-bottom-left-img {
        height: 340px;
        object-fit: contain;
        object-position: bottom;
    }

    .light-box-line {
        position: relative;
        z-index: 1;
        width: auto;
        height: 30px;
    }

    .light-box-line::after {
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 299px) {}

/*Media Query End*/