<footer>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="ftr-logo">
                            <h5>
                                <a href="index.html">
                                    <img src="images/ftr-logo.png" alt="ftr-logo" class="ftr-logo" />
                                </a>
                            </h5>
                            <p>
                                who do not know how to pursue pleasure rationally encounter
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="ftr-link">
                            <h5>
                                Quick Links
                            </h5>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="aboutus.html">About Us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="insights.html">Insights</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="contact-link">
                            <h5>
                                Contact Info
                            </h5>
                            <ul>
                                <li>
                                    <i class="fa-solid fa-location-dot"></i>
                                    <a href="#">
                                        dummy
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-envelope"></i>
                                    <a href="mailto:dummy">
                                        dummy
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-phone"></i>
                                    <a href="tel:dummy">
                                        dummy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ftr-heading-box">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="ftr-heading">
                        <h2>
                            Elevare Consulting
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right-box">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="copy-right">
                        <p>
                            CopyRights © 2026 Elevare Consulting All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>