<!-- Footer Start -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-12  border-right">
                <div class="heading-footer wow fadeInUp" data-wow-duration="2s">
                    <h5>About Us</h5>
                </div>
                <div class="text-ft-about">
                    <p>Experience the ultimate in skin rejuvenation and aesthetic excellence at London's premier
                        boutique clinic.</p>
                    <ul>
                        <li> <a href="#"><span>Location : </span>123 Harley Street London, W1G 6AB
                            </a>
                        </li>
                        <li><a href="mailto:info@luxeskinaesthetic.com"><span>Email :
                                </span>info@luxeskinaesthetic.com</a></li>
                        <li><a href="tel:+442012345678"><span>Phone : </span>+44 20 1234 5678</a></li>
                    </ul>
                </div>
                <div class="freeshiping-text">
                    <div class="heading-footer wow fadeInUp" data-wow-duration="2s">
                        <h5>Follow On</h5>
                    </div>
                    <div class="social-icons-ft">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-12 border-right">
                <div class="heading-footer pg-ft-links-main wow fadeInUp" data-wow-duration="2s">
                    <h5>Quick Links</h5>
                </div>
                <div class="quicklinks-ft quicklinks-ft1">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="pricing.html">Plan and Pricing</a></li>
                        <li><a href="contactus.html">Contact Us</a></li>
                        <li><a href="special-offer.html">Special Offer</a></li>
                        <li><a href="blog.html">Blogs</a></li>
                        <li><a href="loyalty.html">Loyalty</a></li>
                        <li><a href="refer.html">Refer Friends</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3 col-lg-3 col-12 border-right">
                <div class="heading-footer pg-ft-links-main wow fadeInUp" data-wow-duration="2s">
                    <h5>Services </h5>
                </div>
                <div class="quicklinks-ft">
                    <ul>
                        <li><a href="service-detail.html">Facial Rejuvenation & Anti-Wrinkle</a></li>
                        <li><a href="service-detail.html">Premium Dermal Fillers</a></li>
                        <li><a href="service-detail.html">Advanced Skin Revitalization</a></li>
                        <li><a href="service-detail.html">Age-Defying Solutions</a></li>
                        <li><a href="service-detail.html">Elite Hair Restoration</a></li>
                        <li><a href="service-detail.html">Professional Body Sculpting</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_col">
                    <div class="heading-footer wow fadeInUp" data-wow-duration="2s">
                        <h5>Newsletters</h5>
                    </div>
                    <div class="text-ft-about">
                        <p>Sign Up For Our Newsletter To Get Up to Date From Us</p>
                    </div>
                    <div class="footer_form">
                        <form>
                            <input type="Email" name="email" placeholder="Enter Your Email">
                            <button type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</footer>
<div class="ft-bottom-text wow fadeInUp" data-wow-duration="2s">
    <p>© Copyright 2025 Luxe Skin Aesthetic. All Rights Reserved.</p>
    <a href="terms.html">Terms And Condition</a>
</div>
<!-- footer strat  -->