<!-- header start -->
<section class="header">
    <div class="container">
        <div class="row ">
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="hdr_logo wow slideInLeft" data-wow-duration="2s">
                    <a href="index.html">
                        <img src="images/new-logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="nav stroke wow fadeInUpBig" data-wow-duration="2s">
                    <ul id="menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="pricing.html">Plan and Pricing</a></li>
                        <li><a href="contactus.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hdr_btn wow slideInRight" data-wow-duration="2s">
                    <a href="cart.html" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    <a href="#" class="theme-btn">Make An Appointment
                        <span><i></i></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end -->