<!-- header start -->
<section class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="nav stroke">
                    <ul id="menu">
                        <li><a href="index.html" class="home wow fadeInLeft" data-wow-duration="2s"
                                data-wow-delay="0.8s"><i class="fa-solid fa-house"></i></a></li>
                        <li><a href="aboutus.html" class=" wow fadeInLeft" data-wow-duration="2s"
                                data-wow-delay="0.6s">About Us</a>
                        </li>
                        <li><a href="services.html" class=" wow fadeInLeft" data-wow-duration="2s"
                                data-wow-delay="0.4s">Services</a></li>
                        <li><a href="contactus.html" class=" wow fadeInLeft" data-wow-duration="2s"
                                data-wow-delay="0.2s">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hdr_logo wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.2s">
                    <a href="index.html">
                        <img src="images/logo.png" alt="logo" class="logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hdr_btn wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                    <a href="appointment.html" class="theme_btn">Book An Appointment
                        <span><i></i></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end -->